ol {
    background-color: yellow;
}

.par {
    color: green;
}

.impar {
    text-transform:uppercase;
}

h3, h1 {
    color: red;
}

h1 em {
    font-size: 40px;
    border: 1px solid black;
}

li {
    font-size: 20px;
}

li em {
    font-weight: bold;
}

ul:nth-of-type(1) li:nth-of-type(1) {
    color: blue;
}

ul:nth-of-type(1) li:nth-of-type(2) {
    color: blue;
}

ul:nth-of-type(1) li:nth-of-type(3) {
    color: blue;
}

.java {
    background-color: pink;
}

ul li a:hover {
    font-weight: bold;
}

ul:nth-of-type(2) li:nth-of-type(1) a:nth-of-type(1):hover{
    color: orange;
}

ul:nth-of-type(2) li:nth-of-type(2) a:nth-of-type(1):hover{
    color: green;
}

ul:nth-of-type(2) li:nth-of-type(3) a:nth-of-type(1):hover{
    color: black;
}

ul:nth-of-type(2) li:nth-of-type(4) a:nth-of-type(1):hover{
    color: yellow;
}

ul:nth-of-type(2) li:nth-of-type(5) a:nth-of-type(1):hover{
    color: green;
}